body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 80%;
  position: fixed;
  margin-left: 20%;
  left: 0;
  bottom: 0;
}

#submitNewTradeFormDiv {
    margin-left: 0;
    width: 20%;
    text-align: left;
}



#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}
