body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 80%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

#submit {
    margin: auto;
    text-align: center;
}

#search {
    margin: auto;
    text-align: center;
}


#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}
